.search_block {
    // border: 1px solid #f3f3f3;
    // padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
    width: 30%;

    input {
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-family: inherit;
        flex: 1;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #bdbdbd;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    }

    .searh_icon {
        width: 25px;
        height: 25px;
        fill: gray;
        position: absolute;
        left: 10px;

    }

    .btn_remove_icon {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 5px;
        fill: gray;
    }


}